body {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    background-color: lightgreen;
    /* font-family: 'Roboto', sans-serif; */
      font-family: 'Open Sans', sans-serif;
    /* display:flex; flex-direction:column; justify-content:center; */
}

nav {color: blue}
footer {color: red;
        text-align: center ;
}

.yellowgreen {
    background-color: lightgreen;
}

.browntext {
    color: brown;
}

.navcolors {
    color: blue;
}
.footercolors {
    color: red;
}

.standardfont {
    font-family: 'Open Sans', sans-serif;
}

.wireframe {
    display: grid;
    grid-template-areas:
    ' tl tr'
    ' bl br';
}

.h3wireframe {
text-align: center;
}
.wireframeimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}