.nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

ul.card {
    list-style-type: none;
}

@media only screen and (min-width: 760px) {
    main {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}