.nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

main.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

ul.card {
    list-style-type: none;
}

@media only screen and (min-width: 760px) {
    main {
        background-color: black;
        color: white;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}