@media screen and (min-width: 600px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 3rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-self: center;
        /* margin: 13px; */
        justify-content: space-between;

    }

    .column {
        flex: 50%;

    }

    .card {
        /* columns: 100px 2;
        text-align: left;
        display: flex;
        flex-direction: column;
        column-gap: 40px; */

        /* display: inline-block; */
        flex: 50%;

        display:flex;

    }

    body {
        background-color: lightblue;
        font-family: 'Roboto', sans-serif;
    }
}