@media screen and (min-width: 600px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 3rem;
    }

    .codypicture {

        display: flex;
        flex-direction: row;
        margin: 0;
        justify-content: center;
    }

    body {
        background-color: lightblue;
        font-family: 'Roboto', sans-serif;
    }

    .sections {
        display: grid;
        grid-template-areas:
            'Sec1 Sec1'
            'Sec2 Sec3';
        grid-gap: 10px;
        padding: 10px;
    }

}