body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

.banner {
    padding: 1rem;
    background-color: lightblue;
    padding-bottom: 1rem;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0rem;
    padding-bottom: 0rem;
}

main {
    display: grid;
    grid-template-areas:
        'H1 H1'
        'H2 H2'
        'Section1 Section2'
        'Callout Callout';
}

h2 {
    grid-area: H2;
    color: blue;
    margin-top: 10px;
}

.section1 {
    grid-area: Section1;
}

.section2 {
    grid-area: Section2;
    Padding-right: 10rem;
}

.callout {
    grid-area: Callout;
}

article p {
    text-align: justify;
    padding-right: 2rem;
}

.callout {
    color: whitesmoke;
    background-color: #702963;
    padding-left: 1rem;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left;
}